<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li><a href = "{{url_for('authors')}}">Authors</a></li>
    <li><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li class="active"><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>About</h1><br>
  <center>
  <h1><b>Our Team</b></h1>
  <img src="https://storage.googleapis.com/cs329e-idb/images/logo.png" alt="logo">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body"><img src="https://storage.googleapis.com/cs329e-idb/images/ally.jpg" class="img-responsive" style="width:100%" alt="Ally's Pic"></div>
        <div class="panel-footer"><h4><b>Ally Morgenthal</b></h4>
          <br>Senior nueroscience major who wants to save lives and likes salad
          <br><br>Backend Engineer: Responsible for creating initial html pages and connecting them all together. Set-up python and flask integration.
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body"><img src="https://storage.googleapis.com/cs329e-idb/images/alannaspic.png" class="img-responsive" style="width:100%" alt="Alanna's Pic"></div>
        <div class="panel-footer"><h4><b>Alanna Benderly</b></h4>
          <br>Sophomore math major who loves bagels and going to the beach
          <br><br>Backend Engineer: Responsible for editing and finishing the publisher html pages.
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body"><img src="https://storage.googleapis.com/cs329e-idb/images/emily.jpg" class="img-responsive" style="width:100%" alt="Emily's Pic"></div>
        <div class="panel-footer"><h4><b>Emily Reinhart</b></h4>
          <br>Senior psychology major who likes reading people's minds
          <br><br>GCP Deployer: Responsible for deploying the website on GCP and for finishing the author html pages.
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body"><img src="https://storage.googleapis.com/cs329e-idb/images/jacobspic.png" class="img-responsive" style="width:100%" alt="Jacob's Pic"></div>
        <div class="panel-footer"><h4><b>Jacob Fairweather</b></h4>
          <br>Senior sociology major who enjoys Italian food and coding
          <br><br>Frontend Engineer: Responsible for creating the outline and key points of the technical report.
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body"><img src="https://storage.googleapis.com/cs329e-idb/images/hannah.jpg" class="img-responsive" style="width:100%" alt="Hannah's Pic"></div>
        <div class="panel-footer"><h4><b>Hannah Faubion</b></h4>
          <br>Sophomore mathematics student who loves Texas football and dancing
          <br><br>About Page Programmer: Responsible for creating the about page to describe our team.
          </div>
      </div>
    </div>
  </div>
</center>
</div><br><br>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
  <center>
  <h2>Stats</h2>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Commits</th>
      <th scope="col">Issues</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Ally Morgenthal</th>
      <td>26</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">Alanna Benderly</th>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Emily Reinhart</th>
      <td>11</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">Jacob Fairweather</th>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">Hannah Faubion</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <td>45</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href = "https://gitlab.com/allysonm/cs329e-idb/issues">GitLab Issue Tracker</a></li>
    <li class="list-group-item"><a href = "https://gitlab.com/allysonm/cs329e-idb">GitLab Repo</a></li>
    <li class="list-group-item"><a href = "https://gitlab.com/allysonm/cs329e-idb/wikis/home">GitLab Wiki</a></li>
  </ul>
  <h2>Data</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href = "http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Link to Data Source</a></li>
  </ul>
  <h2>Tools</h2>
  <br>Gitlab
  <br>Bootstrap
  <br>Google Cloud Platform
  <br>Flask
  <br>Python
  <br>JavaScript
  </center>
</div>
</body>
</html>
