<!DOCTYPE html>
<html lang="en">
<head>
  <title>Orson Scott Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
    <h2>Orson Scott Card</h2>
		<p>Date of Birth: 1951-08-24</p>
		<p>Nationality: American</p>
		<p>Alma Mater: Brigham Young University, University of Utah, University of Notre Dame</p>
		<p>Description: Orson Scott Card is an American novelist, critic, public speaker, essayist and columnist. He writes in several genres but is known best for science fiction.</p>
		<p>Picture: <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg/250px-Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg"</p>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>
<body>

<h2></h2>

<table>
  <tr>
    <th>Books</th>
    <th>Publication Date</th>
    <th>Publisher</th>
  </tr>
  <tr>
    <td><a href = "{{url_for('book3')}}">Ender's Game</a></td>
    <td>2006-10-31</td>
    <td><a href = "{{url_for('publisher2')}}">Palgrave Macmillan</a></td>
  </tr>
  <tr>
    <td>Speaker for the Dead</td>
    <td>1992-08-15</td>
    <td><a href = "{{url_for('publisher2')}}">Palgrave Macmillan</a></td>
  </tr>
  <tr>
    <td>Children of the Mind</td>
    <td>2009-11-30</td>
    <td><a href = "{{url_for('publisher2')}}">Palgrave Macmillan</a></td>
  </tr>
</table>
  </body>
</html>
