<!DOCTYPE html>
<html lang="en">
<head>
  <title>J. K. Rowling</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
    <h2>J. K. Rowling</h2>
		<p>Date of Birth: 1965-07-31</p>
		<p>Nationality: British</p>
		<p>Alma Mater: University of Exeter</p>
		<p>Description: Joanne "Jo" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series.</p>
		<p>Picture: <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg"> </p>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
    <body>

    <h2></h2>

    <table>
    <tr>
    <th>Books</th>
    <th>Publication Date</th>
    <th>Publisher</th>
    </tr>
    <tr>
    <td><a href = "{{url_for('book1')}}">Harry Potter and the Sorcerer's Stone</a></td>
    <td>2015-12-08</td>
    <td><a href = "{{url_for('publisher1')}}">Pottermore</a></td>
    </tr>
    <tr>
    <td>Harry Potter and the Chamber of Secrets</td>
    <td>2015-12-08</td>
    <td><a href = "{{url_for('publisher1')}}">Pottermore</a></td>
    </tr>
    <tr>
    <td><a href = "{{url_for('book2')}}">Harry Potter and the Prisoner of Azkaban</a></td>
    <td>1999-07-08</td>
    <td><a href = "{{url_for('publisher1')}}">Pottermore</a></td>
    </tr>
    </table>
  </body>
</html>
