<!DOCTYPE html>
<html lang="en">
<head>
  <title>Harry Potter and the Sorcerer's Stone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
		<h2>Harry Potter and the Sorcerer's Stone</h2>
		<p>Author: <a href = "{{url_for('author3')}}">J. K. Rowling</a></p>
		<p>Publication Date: 2015-12-08</p>
		<p>Publisher: <a href = "{{url_for('publisher1')}}">Pottermore</a></p>
		<p>ISBN: 9781781100486</p>
		<p>Description: Turning the envelope over, his hand trembling, Harrysaw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'. Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressedin green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry. An incredible adventure is about to begin!</p>
	</body>
</html>