<!DOCTYPE html>
<html lang="en">
<head>
  <title>Publishers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<p><a href = "{{url_for('publisher1')}}">Pottermore</a></p>
	<p><a href = "{{url_for('publisher2')}}">Palgrave Macmillan</a></p>
	<p><a href = "{{url_for('publisher3')}}">Del Rey Books</a></p>
</body>
</html>