<!DOCTYPE html>
<html lang="en">
<head>
  <title>Del Rey Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
		<h2>Del Rey Books</h2>
		<p>Parent Company: Random House</p>
		<p>Website: http://sf-fantasy.suvudu.com</p>
		<p>Wikipedia Page: https://en.wikipedia.org/wiki/Del_Rey_Books</p>
		<p>Description: Del Rey Books is a branch of Ballantine Books, which is owned by Random House and, in turn, by Penguin Random House. It is a separate imprint established in 1977 under the editorship of author Lester del Rey and his wife Judy-Lynn del Rey.</p>
		<p>Picture: <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Del_Rey_logo.png/150px-Del_Rey_logo.png"></p>
	
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
	</style>
	
<table>
	<tr>
		<th>Books</th>
		<th>Publication Date</th>
		<th>Author</th>
	</tr>
	<tr>
		<td>The Hitchhiker's Guide to the Galaxy</td>
		<td>2007-12-18</td>
		<td><a href = "{{url_for('author2')}}">Douglas Adams</a></td>
	</tr>
	<tr>
		<td>The Restaurant at the End of the Universe</td>
		<td>2008-12-24</td>
		<td><a href = "{{url_for('author2')}}">Douglas Adams</a></td>
	</tr>
	<tr>
		<td>Life, the Universe and Everything</td>
		<td>2008-12-24</td>
		<td><a href = "{{url_for('author2')}}">Douglas Adams</a></td>
	</tr>
</table>
	
	</body>
</html>