<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pottermore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
		<h2>Pottermore</h2>
		<p>Parent Company: N/A</p>
		<p>Website: http://www.pottermore.com\nshop.pottermore.com</p>
		<p>Wikipedia Page: https://en.wikipedia.org/wiki/Pottermore</p>
		<p>Description: Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World.</p>
		<p>Picture: <img src= "http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png"></p>
	
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
	</style>
	
<table>
	<tr>
		<th>Books</th>
		<th>Publication Date</th>
		<th>Author</th>
	</tr>
	<tr>
		<td><a href = "{{url_for('book1')}}">Harry Potter and the Sorcerer's Stone</a></td>
		<td>2015-12-08</td>
		<td><a href = "{{url_for('author3')}}">J. K. Rowling</a><td>
	</tr>
	<tr>
		<td>Harry Potter and the Chamber of Secrets</td>
		<td>2015-12-08</td>
		<td><a href = "{{url_for('author3')}}">J. K. Rowling</a></td>
	</tr>
	<tr>
		<td><a href = "{{url_for('book2')}}">Harry Potter and the Prisoner of Azkaban</a></td>
		<td>1999-07-08</td>
		<td><a href = "{{url_for('author3')}}">J. K. Rowling</a></td>
    </tr>
</table>
	
	
	</body>
</html>