<!DOCTYPE html>
<html lang="en">
<head>
  <title>Palgrave Macmillan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
		<h2>Palgrave Macmillan</h2>
		<p>Parent Company: Springer Nature</p>
		<p>Website: http://www.palgrave.com</p>
		<p>Wikipedia Page: https://en.wikipedia.org/wiki/Palgrave_Macmillan</p>
		<p>Description: Palgrave Macmillan is an international academic andtrade publishing company. Its programme includes textbooks, journals, monographs, professional and reference works in print and online. Palgrave Macmillan was created in 2000 when St.</p>
		<p>Picture: N/A</p>
		
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
	</style>
	
<table>
	<tr>
		<th>Books</th>
		<th>Publication Date</th>
		<th>Author</th>
	</tr>
	<tr>
		<td><a href = "{{url_for('book3')}}">Ender's Game</a></td>
		<td>2006-10-31</td>
		<td><a href = "{{url_for('author1')}}">Orson Scott Card</a></td>
	</tr>
	<tr>
		<td>Speaker for the Dead</td>
		<td>1992-08-15</td>
		<td><a href = "{{url_for('author1')}}">Orson Scott Card</a></td>
	</tr>
	<tr>
		<td>Children of the Mind</td>
		<td>2009-11-30</td>
		<td><a href = "{{url_for('author1')}}">Orson Scott Card</a></td>
	</tr>
</table>
	
	</body>
</html>